.main_container {
    width: 1600px;
    margin: 50px auto;
}

.contact_heading {
    text-align: center;
    margin: 24px 0;
}

.contact_heading h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.contact_heading p {
    font-size: 24px;
}