.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hero_text h1 {
  font-size: 80px;
  color: var(--accent);
  padding: 20px;
}

.hero_text p {
  font-size: 30px;
  text-align: center;
}

.hero_text {
  margin-bottom: 70px;
}

.cta_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.cta {
  text-align: center;
  background-color: var(--accent);
  text-decoration: none;
  padding: 16px 32px;
  font-size: 30px;
  border-radius: 8px;
  
}
.cta a {
  text-decoration: none;
  color: var(--background-dominant);
}

.small_print {
  text-align: center;
  font-size: 22px;
  color: var(--accent);
}